@media(max-width:1199px){
    .dev-pic img {
        height: 50.7vh;
    }
    .info-container {
        height: 50.7vh;
    }
    .dev-m{
        font-size: 20px;
    }
}
@media(max-width:991px){
    .sidebar nav li a {
        font-size: 13px;
       
    }
}
@media(max-width:767px){
    .dev-pic {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .dev-info {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .dev-m {
        font-size: 14px;
    }
}