@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

:root {
    --padding-: 10px;
    --padding-end-: 50px;
    --p-top-: 20px;
    --p-bottom-: 20px;
    --p-top-bottom: 20px 0px;
    --p-left-right: 0px 20px;
    --margin-: 10px;
    --m-top: 20px;
    --m-bottom: 20px;
    --m-top-bottom: 10px 0px;
    --m-left-right: 0px 20px;
    --page-end-margin: 50px;
    --m-right-:10px;
}

li {
    list-style: none;
  
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #ffd7d4;
    
    height: 100vh;
}

.main {   
    width: 80%;
}

.sidebar nav {
    padding: var(--padding-end-);
    text-align: justify;
}
.sidebar nav  li  {
   margin: 20px 0px ;
}
.sidebar nav  li a {
    font-size: 22px;
    margin: 20px 0px; 
    font-weight: 600;
}

.info-container {
  
    width: 85vw;
    height: 75.7vh;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
}

.dev-pic {
  width: 50%;
}

.dev-info {
    width: 50%;
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dev-pic img {
   height: 75.7vh;
}
.dev-m{
    margin: var(--m-top-bottom);
    font-size: 27px;
}
.download-btn{
    padding: var(--padding-);
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffd7d4;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.content-btn{
    margin-left: 15px;
}
.download-btn:hover{
    background-color: #ffb8b2;
}